@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
                

:root {
  --purplectc: #545aa1;
  --white: #ffffff;
  --menublue: #0050C2;
  --styleblack: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background: var(--styleblack);
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: 'VCR OSD Mono', sans-serif;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--menublue);
}

.cta {
  padding: 9px 25px;
  background-color: var(--menublue);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--menublue);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--styleblack);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--menublue);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--white);
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

h1 { 
  color: var(--white); 
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 26px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
 }
 
 h2 { 
  color: var(--white);
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 20px;
  text-align: center;
 }

 h3 { 
  color: var(--white); 
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 20px;
  text-align: center;
  background:#000;
 }

 .imageGrid {
  line-height: 0;
}
.imageGrid .tile {
  width:33.33%;
  min-height:20em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  
  color:var(--white);
  font-family:'VCR OSD Mono', sans-serif;
  text-shadow: 2px 2px 2px #000;
  cursor: pointer; 
  cursor: hand;
}

.imageGrid .tile:before {
  content: '';
  background-color: rgba(15,15,15,0.5);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.imageGrid .tile:hover:before {
  display: none;
}

.imageGrid .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
}

.imageGrid .tile .textWrapper .content {
  display: none;
}

.imageGrid .tile:hover .textWrapper .content {
  display: block;
}

.imageGrid .tile:hover .textWrapper .content h2 {
  margin: 0;
}

@media (max-width: 1000px) {
  .imageGrid .tile {
    width: 50%;
  }
}
 
@media (max-width: 700px) {
  .imageGrid .tile {
    width: 100%;
  }
  
}

body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer{
  background:var(--styleblack);
  padding:30px 0px;
  font-family: 'VCR OSD Mono', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:var(--white);
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:var(--white);
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:var(--white);
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }